@import '~@angular/material/theming';

:host {
  height: 100%;
  display: block;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  // background-color: gray;
}

.sidenav {
  background-color: white;
  @include mat-elevation(2);
}
