$primary: (
  Main: #f77594,
  Light: #ffa7c4,
  Dark: #c14466,
  contrast: (
    Main: #f5f5f5,
    Light: #000,
    Dark: #fff,
  ),
);

$accent: (
  Main: #ff9100,
  Light: #ffc246,
  Dark: #c56200,
  contrast: (
    Main: #f5f5f5,
    Light: #000,
    Dark: #fff,
  ),
);